<!-- header to be used on every page -->

<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-success">
    <a class="navbar-brand" href="/urls">TinyApp</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="/urls">My URLs</a>
        <a class="nav-item nav-link" href="/urls/new">Create New URL</a>
      </div>
    </div>
  </nav>
  <br>
  <% if (user === 'registering') { %>
    <h4 style="margin-left: 15px;">New user? Welcome to TinyApp!</h4>
  <% } else if (user === 'existing') { %>
    <h4 style="margin-left: 15px;">Existing user? Welcome back!</h4>
  <% } else if (user === 'error') { %>
    <h6 style="margin-left: 15px; color: red;">Invalid username or password</h6>
  <% } else if (user !== undefined) { %>
  <form action="/logout" method="POST">
    <label style="font-weight: bold; font-size: 20px; margin-left: 15px; margin-right: 5px;">Logged in as <i><%= user.email %></i></label>
    <button type="submit">Logout</button>
  </form>
  <% } else { %>
    <div>
      <form action="/register" method="GET">
        <label style="margin-left: 15px;" for="username">New user?</label>
        <button type="submit">Register</button>
      </form>
      <form action="/login" method="GET">
        <label style="margin-left: 15px;" for="username">Existing user?</label>
        <button type="submit">Login</button>
      </form>
    </div>
  <% } %>
</header>